@import "src/styles/vars";

.options {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lang {
  font-size: 14px;
  font-weight: bold;
}

.profile {
  border: none;
  background-color: $gray-scale-20;
  color: $gray-scale-70;
  border-radius: 10px;
  width: 40px;
  height: 40px;

  cursor: pointer;

  transition: all 0.1s ease-in-out;
}

.profile.image {
  background: none;
  border-radius: 100%;
}

.profile img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.profile:hover {
  color: $gray-scale-20;
  background-color: $gray-scale-70;
}

@media screen and (max-width: $ad-3) {
  .options {
    display: none;
  }
}

@media screen and (max-width: $tabs-ad-1) {
  .profile {
    width: 30px;
    height: 30px;
  }

  .lang {
    font-size: 10px;
  }
}

@media screen and (max-width: $tabs-ad-2) {
  .profile {
    width: 25px;
    height: 25px;
  }

  .profile svg {
    width: 15px;
    height: 15px;
  }

  .lang {
    font-size: 10px;
  }
}
