@import "../../../variables.scss";

.tabs {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.filter {
  border: none;
  background: none;

  color: $gray-scale-50;
  padding: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 12px;
  font-weight: 548;
  border-radius: 10px;
  font-size: 14px;

  cursor: pointer;

  transition: all 0.1s ease-in-out;
}

.filter.active {
  color: $gray-scale-70;
  background-color: $gray-scale-20;
}
