@import "src/styles/vars";

.menuBtn {
  display: none;
  justify-content: flex-end;
  border: none;
  background: none;
}

@media screen and (max-width: $ad-3) {
  .menuBtn {
    display: flex;
  }
}
