.feed {
  margin: 26px var(--padding-x);

  display: grid;
  grid-template-columns: 70% 30%;

  gap: 24px;
}

.post {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: 20px;

  background-color: var(--gray-scale-00);
}

.post .info {
  display: flex;
  align-items: center;
  font-size: 12px;
  gap: 6px;

  color: var(--gray-scale-40);
}

.post .info .separator {
  width: 3px;
  height: 3px;
  background-color: var(--gray-scale-40);
  border-radius: 100%;
}

.post .content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.post .content .title {
  font-size: 20px;
  font-weight: 600;
  color: var(--gray-scale-70);
}

.post .content .description {
  font-size: 14px;
  font-weight: 500;
  color: var(--gray-scale-50);
}

.post .content .description .btnMore {
  background: none;
  border: none;
  color: var(--gray-scale-60);
  font-weight: 548;

  cursor: pointer;
  transition: color 0.1s ease-in-out;
}

.post .content .description .btnMore:hover {
  color: var(--gray-scale-70);
}

.post .content .photos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  width: 100%;
  box-sizing: border-box;
}

.post .content .photos .photo {
  width: 100%;
  height: auto;
}

.post .stats {
  display: flex;
  align-items: center;
  gap: 20px;
  color: var(--gray-scale-50);
  font-size: 14px;
  font-weight: 500;
}

.post .stats .views {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.post .stats .comments {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.feed .side {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.feed .side .ads {
  border-radius: 20px;
  background-color: var(--gray-scale-00);
  overflow: hidden;
}

.feed .side .filters {
  padding: 24px;
  height: 294px;
  background-color: var(--gray-scale-00);

  border-radius: 20px;
}
