@import "src/styles/vars";

.feed {
  margin: 26px $padding-x;

  display: grid;
  grid-template-columns: 70% 30%;

  gap: 24px;
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media screen and (max-width: $ad-2) {
  .feed {
    grid-template-columns: 100% 0%;
    margin: $mob-padding-x;
  }
}
