@import "src/styles/vars";

.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-grow: 1;
}

@media screen and (max-width: $ad-3) {
  .tabs {
    display: none;
  }
}
