@import "../../../../variables.scss";

.tab {
  color: $gray-scale-40;
  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;

  font-size: 14px;
  font-weight: 548;

  transition: color 0.1s ease-in-out;
}

.tab:hover {
  color: $gray-scale-50;
}

.tab.active {
  color: $gray-scale-70;
}
