@import "src/styles/vars";

.tab {
  color: $gray-scale-40;
  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;

  font-size: 14px;
  font-weight: 548;

  transition: color 0.1s ease-in-out;
}

.tab:hover {
  color: $gray-scale-50;
}

.tab.active {
  color: $gray-scale-70;
}
@media screen and (max-width: $tabs-ad-1) {
  .tab {
    font-size: 12px;
  }

  .tab .icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tab .icon svg {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: $tabs-ad-2) {
  .tab {
    font-size: 10px;
  }

  .tab .icon svg {
    width: 15px;
    height: 15px;
  }
}

@media screen and (max-width: $ad-3) {
  .tab {
    font-size: 14px;
    justify-content: start;
    padding: 16px;
  }

  .tab .icon svg {
    width: 20px;
    height: 20px;
  }
}
