.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;

  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);

  display: none;
  justify-content: center;
  align-items: center;
}

.modal.active {
  display: flex;
}

.inner {
  position: relative;
  width: 370px;
  height: 513px;
  background-color: var(--gray-scale-00);
  border-radius: 24px;
  padding: 24px;
}

.inner .closeBtn {
  position: absolute;
  top: 0;
  right: 0;

  border: none;
  background: none;
  outline: none;
  margin: 21px;

  color: var(--gray-scale-40);

  cursor: pointer;
}

.content {
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content .text {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.content .title {
  font-size: 30px;
  font-weight: 600;
}

.content .description {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: var(--gray-scale-40);
}
