@import "src/styles/vars";

.closeBtn {
  position: absolute;
  top: 00;
  right: 00;

  border: none;
  background: none;
  outline: none;
  margin: 21px;

  color: $gray-scale-40;

  cursor: pointer;
}
