@import "../../variables.scss";

.side {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.side .ads {
  border-radius: 20px;
  background-color: $gray-scale-00;
  overflow: hidden;
}

.side .filters {
  padding: 24px;
  height: 294px;
  background-color: $gray-scale-00;

  border-radius: 20px;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.side .filters .title {
  font-weight: 6000;
  font-size: 20px;
}

@media screen and (max-width: $ad-2) {
  .side {
    display: none;
  }
}
