@import "../../variables.scss";

.container {
  height: 85%;
  width: 100%;
  padding-top: 28px;
  margin-bottom: 16px;
  margin-top: 16px;
  padding-bottom: 16px;

  border-top: 1px solid $gray-scale-20;
  border-bottom: 1px solid $gray-scale-20;

  overflow-y: auto;
}

.avatar {
  height: 80px;
  width: 80px;
  cursor: pointer;
}

.fields {
  margin-top: 32px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.fields .field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.genderSelect {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.fields .field label {
  font-size: 12px;
  font-weight: 400;
  color: $gray-scale-50;
}

.fields .inputContainer input {
  border: none;
  outline: none;

  border-radius: 10px;
  background: $gray-scale-20;
  color: $gray-scale-70;

  width: 100%;
  padding: 10px 12px;
}

.fields .inputContainer input::placeholder {
  color: $gray-scale-40;
}

@media screen and (max-width: $ad-3) {

  .container {
    margin-bottom: 0rem;
    height: 40vh;
    overflow-y: auto;
    grid-template-columns: auto auto;
    border-top: none;
    border-bottom: 0;
    padding: 0;
  }

  .fields {
    display: grid;
    grid-template-columns: auto;
    gap: 20px;
  }
}
